<a  href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"
  title="{{ site.data.i18n.seguir_en[page.lang] }} Facebook" >
  <i class="icon-white icon-facebook-official social-button"></i>
</a>
<a  href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"
  title="{{ site.data.i18n.seguir_en[page.lang] }} Twitter" >
  <i class="icon-white icon-twitter social-button"></i>
</a>
<a  href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}"
  title="{{ site.data.i18n.seguir_en[page.lang] }} Instagram" >
  <i class="icon-white icon-instagram social-button"></i>
</a>
<a target="_blank" href="/feed.xml"
  title="{{ site.data.i18n.subscribe[page.lang] }} via rss" >
  <i class="icon-white icon-grey icon-rss social-button"></i>
</a>
