{% for tagx in page.tags %}
  {% for tag in site.tags limit:1 %}
    {% if tag[0] == tagx %}
      <h2>Articulos relacionados</h2>
      {% for post in tag[1] limit: 5 %}
        {% if post.title != page.title %}
          <div class="post-row">
            <div class="post-col-left">
              <a href="{{ post.url }}">
              <div class="post-title">{{ post.title }}</div>
              <div class="post-date">{{ post.categories }} · 
                {% assign m = post.date | date: "%-m" | minus: 1 %}
                {{ post.date | date: "%-d" }} 
                de 
                {{ site.data.es.months[m] }}
              </div>
              </a>
            </div>
            <div class="post-col-right">
              {% if post.image %}
                <div class="post-image" style="background: url({{ post.image }}) 50% 50% no-repeat;">
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}