{% for tagx in page.tags limit:1 %}
  {% for tag in site.tags %}
    {% if tag[0] == tagx %}
      <h2>{{ site.data.i18n.articulos_relacionados[page.lang] }}</h2>
      {% for post in tag[1] limit: 5 %}
        {% if post.title != page.title %}
          <hr>
          <a href="{{ post.url }}">
          <div class="post-title">{{ post.title }}</div>
          <div class="post-date">
            {% assign m = post.date | date: "%-m" | minus: 1 %}
            {{ post.date | date: "%-d" }} 
            {{ site.data.i18n.de[page.lang] }} 
            {{ site.data.i18n.meses[page.lang][m] }}
          </div>
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
