---
---
$header-bg-color: #00b5a8 !default;
$section-headings-color: #424242 !default;
$header-bg-color-secondary: #2275c7 !default;
$body-text-color: #383f42 !default;
@import "{{ site.theme }}";
html {
  scroll-behavior: smooth;
}
.post-title {
  color: #424242;
  font-weight: bold;
  font-size: 20px;
}
.post-description {
  color: #6d6d6d;
}
.post-date {
  color: #6d6d6d;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.post-image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.post-row {
  display: flex; 
}
.post-col-left {
  position: relative;
  flex: 75%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 10px;
}
.post-col-right {
  position: relative;
  flex: 25%;
}
.share-buttons {
  border-radius: 5px;
  border: 1px solid #EFF0F1;
  padding: 10px 0px;
  font-size: 18px;
}
.share-buttons a {
  text-decoration: none;
}
.share-button {
  padding: 10px;
}
.icon-whatsapp {
  color: #00b600;
}
.icon-facebook-official {
  color: #3b5998;
}
.icon-twitter {
  color: #55acee;
}
.icon-gplus {
  color: #dd4b39;
}
.icon-pinterest {
  color: #cb2027;
}
.icon-tumblr {
  color: #32506d;
}
.icon-reddit-alien {
  color: #ff4500;
}
.icon-linkedin-squared {
  color: #007bb5;
}
.icon-mail {
  color: #444444;
}
.icon-grey {
  color: grey;
}
.pagination {
  text-align: center;
  padding-top: 15px;
}
.paginate-btn {
  border-radius: 5px;
  border: 1px solid #EFF0F1;
  padding: 10px 15px;
}
.paginate-desc {
  font-weight: bold;
  padding: 15px 10px 10px 10px;
}
.author {
  font-size: 14px;
  color: grey;
  // margin-bottom: -25px;
}
.mb--25 {
  margin-bottom: -25px;
}
.author-name {
  font-weight: bold;
}
.sp {
  padding: 25px;
}
.es, .pt {
  color: grey;
}
.es:lang(es), .pt:lang(pt) {
  color: black;
  font-weight: bold;
}
.black--text {
  color: black;
}
.grey--text {
  color: grey;
}
.fr {
  float: right;
}
.search_icon {
  float: right;
  color: black;
}
.post-title .ais-Highlight {
  font-style: normal;
  text-decoration: underline;
}
.post-description .ais-Highlight {
  color: #111;
  font-weight: bold;
  font-style: normal;
}
.ais-search-box {
  max-width: 100% !important;
}
.new_tag {
  font-size: 15px;
  font-weight: normal;
  margin-left: 5px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #00b5a8, #2275c7)
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}
footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(245, 245, 245);
  color: black;
  border-top: 1px solid #e6e6e6;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .new_tag {
    margin-left: 0px;
    padding: 3px;
  }
  .post-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .post-image {
    height: 100px;
  }
  .post-col-left {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sp {
    padding: 15px;
  }
}