<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <title>{{ site.title }} | {{ page.title }}</title>
  {% seo title=false %}
  {% include head.html %}
  {% include mainjs.html %}
</head>
<body>
  <header class="page-header" role="banner">
    <h1 class="project-name"><a href="{{ site.data.i18n.url_prefix[page.lang] }}/" style="color: white">{{ site.data.i18n.title[page.lang] | default: site.github.repository_name }}</a></h1>
    <h2 class="project-tagline">{{ site.data.i18n.description[page.lang] | default: site.github.project_tagline }}</h2>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}
    {% include footer.html %}
  </main>
</body>
</html>
