<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  {% seo title=false %}
  {% include head.html %}
  <link href="/assets/css/fontello.css" rel="stylesheet">
  {% include mainjs.html %}
</head>
<body>
  <header class="page-header" role="banner">
    <h1 class="project-name">
      <a href="{{ site.data.i18n.url_prefix[page.lang] }}/" style="color: white">{{ site.data.i18n.title[page.lang]  | default: site.github.repository_name }}</a>
    </h1>
  </header>

  <main id="content" class="main-content" role="main">
    {% assign author = site.data.authors[page.author] %}
    <div class="mb--25">
      {% if author %}
        <div class="author">
          <span>
              {{ site.data.i18n.escrito_por[page.lang] }} <span class="author-name">{{ author.name }}</span>
          </span>
          <span>
            · 
            {% assign m = page.date | date: "%-m" | minus: 1 %}
            {{ page.date | date: "%-d" }} 
            {{ site.data.i18n.de[page.lang] }} 
            {{ site.data.i18n.meses[page.lang][m] }}
          </span>
        </div>
      {% endif %}
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="{{ site.data.i18n.url_prefix[page.lang] }}/tag/#{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
        {% endfor %}
      </span>
    </div>
    {{ content }}
    {% include share-bar.html %}
    <div class="sp"></div>
    {% include suggest_in_post.html %}
    {% include footer.html %}
  </main>
</body>
</html>
