<!DOCTYPE html>
<html lang="es">
<head>
  {% include head.html %}
  <link href="/assets/css/fontello.css" rel="stylesheet">
  {% include mainjs.html %}
</head>
<body>
  <header class="page-header" role="banner">
    <h1 class="project-name">
      <a href="/" style="color: white">{{ site.title | default: site.github.repository_name }}</a>
    </h1>
  </header>

  <main id="content" class="main-content" role="main">
    {% assign author = site.data.authors[page.author] %}
    <div class="mb--25">
      {% if author %}
        <div class="author">
          <span>
              Autor: <span class="author-name">{{ author.name }}</span>
          </span>
          <span>
            on {{ page.date | date: "%d %B" }}
          </span>
        </div>
      {% endif %}
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/#{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
        {% endfor %}
      </span>
    </div>
    {{ content }}
    {% include share-bar.html %}
    {% include footer.html %}
  </main>
</body>
</html>
